.hidden {
  display: none;
}

.container {
  font-family: 'Italiana', sans-serif;
  text-align: center;
}

body {
  background-image: url(../img/flag.jpeg);
  background-repeat: repeat;
  background-size: contain;
  padding: 3%;
  margin: auto;
  width: 75%;

}

#header {
  width: fit-content;
  background-color: #f5f5dc;
  border: 2px solid black;
  margin: 5px;
  padding: 3%;
}

#menu {
  width: fit-content;
  background-color: #f5f5dc;
  border: 2px solid black;
  margin: 5px;
  padding: 3%;
}

li {
  list-style-position: inside;
}

#orderForm {
  background-color: #f5f5dc;
  border: 2px solid black;
  margin: 5px;
  padding: 2%;
  width: fit-content;
}

#receipt {
  background-color: #f5f5dc;
  border: 2px solid black;
  margin: 5px;
  width: fit-content;
  padding: 5%;
}